<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @wiki_post.name %>
</p>

<p>
  <b>Title:</b>
  <%= @wiki_post.title %>
</p>

<p>
  <b>Raw text:</b>
  <%= @wiki_post.raw_text %>
</p>


<p>
  <b>Processed text:</b>
  <%= @wiki_post.processed_text %>
</p>
